<nav class="navbar bg-white navbar-expand-md  border-bottom sticky-top">

    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">Add new Listing</a>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" method="GET" action="/listings">
                    <input class="form-control mr-sm-2 search-bar" type="search" name="Search"
                        placeholder="Search Destination">
                    <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit"><i
                            class="fa-solid fa-magnifying-glass search-btn-glass"></i> <span
                            class="search-btn-text">Search</span></button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex gap-3 justify-content-center align-items-center" role="search">
                    <a class="nav-link rounded-pill airbnb" href="/">Airbnb your home</a>
                    <i class="fa-solid fa-globe"></i>
                    <div class="dropdown">
                        <a href="#" class="search-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end mt-3">
                            <% if(!currUser) { %>
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                                <% } %>
                                    <% if(currUser) { %>
                                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                                        <% } %>

                        </ul>
                    </div>
                </form>
            </div>




        </div>
    </div>
</nav>